@{
    ViewBag.Title = "ClassifyEmails";
}
<!DOCTYPE html>
<html>
<head>
    <title>ClassifyEmails</title>
</head>
<body>
    <h2>Email Classifier</h2>


    @using (Html.BeginForm())
    {
        <p>Classify Emails</p>
        <input type="submit" value="Classify">

    }

</body>
</html>