@{
    ViewBag.Title = "CreateDictionary";
}


<!DOCTYPE html>
<html>
<head>
    <title>CreateDictionary</title>
</head>
<body>
    <h2>CreateDictionary</h2>


    @using (Html.BeginForm())
    {
        <p>Create Dictionary</p>
        <input type="submit" value="Create">

    }

</body>
</html>