@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>EmailClassifier</title>
</head>
<body>
    <h2>Welcome to EmailClassifier!</h2>
    <a href='/Home/UserHome'>Maintain User Preferences</a><br />
    <a href='/Home/CreateDictionary'>Create Keyword Dictionary</a><br />
    <a href='/Home/ClassifyEmails'>Classify Emails</a>

</body>
</html>
